<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Friends</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <style media="screen">
      .card {
          margin-left: 30px;
          margin-top: 30px;
          padding: 10px;
      }

      .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: aqua; }


        /* .table-hover tbody tr:hover td {
            background: aqua; */
        }
      }
  </style>
</head>
<body>

    <div class="row">

    <div class="card w-25">
        <div class="card-body">
            <h2>Add a Friend :)</h2>
            <form action='/friends' method='POST'>
                <div class="form-group">
                    <label for="first_name">First Name:</label><br>
                    <input type="text" name="first_name" id="first_name">
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name:</label><br>
                    <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label><br>
                    <input type="text" name="age" id="age">
                </div>
                <div class="form-group">
                    <label for="friend_since">Friend Since:</label><br>
                    <input type="date" name="friend_since" id="friend_since">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <br>

    <div class="card w-50">
      <div class="card-body">

        <table class="table table-hover ">

          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Friend Since</th>
          </tr>
          {% for friend in my_friends: %}
          <tr>
            <th scope="row">{{ friend['id'] }}</td>
            <td>{{friend.first_name}}</td>
            <td>{{friend.last_name}}</td>
            <td>{{friend.age}}</td>
            <td>{{friend.friend_since}}</td>

          </tr>
        {% endfor %}
        </table>
      </div>
    </div>




</div>



</body>
</html>
